
@{
    ViewBag.Title = "Kategori sil";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">@ViewBag.Title</h4>
            <div class="alert-items">
                <div class="alert alert-danger" role="alert">
                    <h5><strong>Silinemez! </strong>@ViewBag.Message</h5>
                </div>
            </div>
        </div>
    </div>
    <a href="~/Admin/Category" class="btn btn-danger mb-3" >Geri</a>
</div>

  